<div  *ngFor="let details of testname">
    <h4>{{details.city.name}} <span class="pull-right"> <i class="fa fa-refresh"></i></span></h4>
   

<div class="flex-container">
   
    <div>
        <ul> 
            <app-main-deatils></app-main-deatils>
             
        </ul>
    </div>
</div>

<div class="flex-container">
    <div class="flex_item" *ngFor="let llist of details.list;let i=index">
         <div>{{llist.dt_txt | date:'dd'}}</div> 
             <div>{{llist.dt_txt | date:'full'|  slice:0:3}}</div> 
             <div>
                <img *ngIf="llist.weather[0].main==='Rain'" src="assets/image/rainy-1.svg" alt=""/>
                <img *ngIf="llist.weather[0].main==='Clouds'" src="assets/image/cloudy.svg" alt=""/>
                <img *ngIf="llist.weather[0].main==='Clear'" src="assets/image/clear.svg" alt=""/>

            </div>
            <div> {{llist.main.temp}} C </div>
        </div>
    </div>
</div>
